repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml

  - repo: https://github.com/FeryET/pre-commit-rust
    rev: master
    hooks:
      - id: fmt
        name: cargo fmt
        description: Format Rust code with rustfmt

  - repo: local
    hooks:
      - id: clippy-test
        name: Clippy Test
        description: Run comprehensive clippy linting
        entry: ./clippy_test.sh
        language: system
        files: \.rs$
        pass_filenames: false