name: Test

on: [push]

jobs:
    test:
        runs-on: ubuntu-latest
        name: A job to run test in NetBSD
        env:
            MYTOKEN: ${{ secrets.MYTOKEN }}
            MYTOKEN2: "value2"
        steps:
            - uses: actions/checkout@v6
            - name: Test in NetBSD
              id: test
              uses: vmactions/netbsd-vm@v1
              with:
                  envs: "MYTOKEN MYTOKEN2"
                  usesh: true
                  prepare: |
                      pkg_add rust curl

                  run: |
                      tree /home/runner/work || true
                      pwd
                      ls -lah
                      whoami
                      env
                      sysctl hw.model || true
                      sysctl hw.ncpu || true
                      sysctl hw.physmem || true
                      sysctl hw.usermem || true
